<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="antialiased">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: "%s" }}">
    <!-- <script src="{{ "/assets/javascripts/toggler.js" | relative_url }}"></script> -->
  </head>
  <body class="flex flex-col items-center min-h-screen bg-gray-100">
    <div class="flex flex-col w-full grow bg-white shadow-xl max-w-7xl">
        {% include header.liquid %}
        <main class="grow">
          {{ content }}
        </main>
        {% include footer.liquid %}
    </div>
  </body>
</html>
